body {
    background: blue ;
    margin: 0;
    height: auto;
}
.card-group {
    display: flex;
    margin-top: 50px;
    justify-content: flex-end;
    height: 100%;
    width: 100%
    /* gap: 20px; */
}
.card img {
    height: 300px;
    width: 100%;
}
.card-title,
.card-text {
    text-align: center; /* Center-align h5 and p */
    color: black; /* Text color */
}
.card-body h5 p {
    justify-content: center;
}
.row-cols-1.row-cols-md-3.g-4 {
    margin-top: 50px;
    /* border-radius: 50px; */
    background: #28218B;
    height: auto;
}
/* .card h-100 {
    height: 100%;
} */
.card-footer a {
    border-radius: 50px;
}

.card-footer a:hover {
    color: red;
}


/*--------header-------- */
.whole {
    height: 700px;
    width: 100%;
    background-image: url("gadget_images/background_ecommerce.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px 50px 0 0px; /* Top Right Bottom Left */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.whole h1, p {
    text-align: center;
    color: black;
}

#header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    height: auto;
    width: 100%;
    border-bottom: 2px solid red;

}

nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    /* background-color: white; */
    /* justify-content: center; */
}
nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    padding: 10px 20px;
    text-transform: uppercase;
}
nav a:hover {
    color: red;
}


/* --------footer --------*/
#footer {
    background-color:#28218B;
    height: 500px;
    width: 100%;
    /* position: fixed; */
}
.footer-container {
    display: flex;
    /* justify-content: space-between; */
    padding: 0 10px;
    row-gap: -10px

    /* flex-wrap: wrap; */

}
.foot-content {
    flex: 1;
    /* text-align: center; */
    padding: 0 5px;
}
.foot-content p {
    flex: 1;
    text-align: justify;
}
.foot-content h1 h2 {
   color: #50D1FA; 
}
.foot-content ul li {
    list-style-type: none;
    padding: 5px;
}
.foot-content a {
    text-decoration: none;
    color: white;
}
.foot-content a:hover {
    color: red;
}

/***********************************************************************************/
/* Add a media query for screens with a maximum width of 768px (adjust this value as needed) */
@media (max-width: 768px) {
    body {
        background: blue;
    }
    .whole {
        background-size: cover;
        height: 100vh;
        margin-top: 0;
    }
    .whole h1, p {
        text-align: center;
        color: black;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav a {
        padding: 10px;
        display: block;
    }
    .card-group {
        justify-content: center;
        flex-wrap: wrap;
    }
    .card img {
        height: auto;
    }
    .card-title,
    .card-text {
        text-align: center;
    }

    .row-cols-1.row-cols-md-3.g-4 {
        margin-top: 20px;
    }
    /*---footer-----*/
    #footer {
        height: auto;
    }
    .footer-container {
        flex-direction: column; 
        align-items: center; 
    }

    .foot-content {
        text-align: center;
        margin: 10px 0;
    }
    .foot-content p {
        text-align: center;
        color: white;
    }
    .foot-content h1,
    .foot-content h2 {
        color: #50D1FA; 
    }
    .foot-content h2:hover {
        color: red;
    }
    .foot-content h1:hover {
        color: red;
    }
}
    